.about-image img {
    min-width: 100%;
}

.about-content {
    padding: 2rem;
    font-family: Lato-Regular;
}


.about-content h4 {
    font-family: Lato-Bold;
}

.about-content p {
    font-family: Lato-Regular;
}

.about-content button {
    background-color: #9e2f89;
    border-radius: 10px;
}

@media only screen and (max-width: 599px) {
    .about-image {
        width: 30%;
        padding: 3rem 0 0 1rem;
    }

    .about-content {
        width: 70%;
    }

    .about-content h4 {
        font-size: 1.5rem;
    }

    .about-content p {
        font-size: 1rem;
    }

    .about-content button {
        font-size: 1rem;
        padding: 0.5rem 1rem 0.5rem 1rem;
    }
}

@media only screen and (min-width: 600px) and (max-width: 1239px) {

    .about-image {
        width: 30%;
        padding: 2rem 0 0 2rem;
    }

    .about-content {
        width: 70%;
    }

    .about-content h4 {
        font-size: 2.25rem;
    }

    .about-content p {
        font-size: 1.5rem;
    }

    .about-content button {
        font-size: 1.5rem;
        padding: 0.75rem 1.5rem 0.75rem 1.5rem;
    }
}

@media only screen and (min-width: 1240px) {

    .about-image {
        padding: 2rem 0 0 2rem;
        width: 30%;
    }

    .about-content {
        width: 70%;
    }

    .about-content h4 {
        font-size: 3rem;
    }

    .about-content p {
        font-size: 2rem;
    }

    .about-content button {
        font-size: 2rem;
        padding: 1rem 2rem 1rem 2rem;
    }
}
