.footer-container {
  

  margin: 0 auto;
  border-top: 1px solid $medium-gray;
  margin-top: rem-calc(60);
  background-color:grey;
  color:white;
}

.footer {
  //@include xy-grid-container;
  @include xy-grid;//
  padding: rem-calc(30) 0;
  display:inline-block;
  flex-wrap:wrap;

  article {
    @include xy-cell(auto);
    margin: 0;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

.privacypolicy{
  background-color:grey;
  color:white;
  text-align:center;
}

#media_image-2{
  width:50%;
}

#custom_html-2{
  width:50%;
}

#custom_html-3{
  width:100%;

}